{% extends 'index.html' %}
{% load static %}
{% block main %}
<div class="contact">
			<div class="container">
				<h1>Contact</h1>

				<div class="contact-grids">
					<div class="contact-form">
							<form method="post" action="/contactfeedback">
								{% csrf_token%}
								<div class="contact-bottom">
									<div class="col-md-4 in-contact">
										<span>Name</span>
										<input type="text" name="name" required>
									</div>
									<div class="col-md-4 in-contact">
										<span>Email</span>
										<input type="email" name="email" required>
									</div>
									<div class="col-md-4 in-contact">
										<span>Phonenumber</span>
										<input type="number" name="phone" required>
									</div>
									<div class="clearfix"> </div>
								</div>

								<div class="contact-bottom-top">
									<span>Message</span>
									<textarea name="message" required> </textarea>
									</div>
								<input type="submit" value="Send">
							</form>
						</div>
				<div class="address">
					<div class=" address-more">
						<h2>Address</h2>
						<div class="col-md-4 address-grid">
							<i class="glyphicon glyphicon-map-marker"></i>
							<div class="address1">
								<p>Jinja Road</p>
								<p>Plot 19034-88974</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-4 address-grid ">
							<i class="glyphicon glyphicon-phone"></i>
							<div class="address1">
								<p>+256 8856 9965</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-4 address-grid ">
							<i class="glyphicon glyphicon-envelope"></i>
							<div class="address1">
								<p><a href="mailto:@example.com"> @shoppers.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--//content-->
{% endblock %}
