{% extends 'index.html' %}
{% load static %}
{% block main %}
<!---->
<div class="container">
	<div class="check-out">
		<h1>Checkout</h1>
	<h3 class="checkout-total">Your cart is empty add items to cart </h3>
    </div>
</div>
{% endblock%}
