<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bukenya Shoppers</title>
{% block title %}
{% endblock %}
<link href='{% static 'css/bootstrap.css'%}' rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src='{% static 'js/jquery.min.js'%}'></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href='{% static 'css/style.css'%}' rel="stylesheet" type="text/css" media="all" />

<!--//theme-style-->
<!--
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
-->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start menu -->
<link href='{% static 'css/memenu.css'%}' rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src='{% static 'js/memenu.js'%}'></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<!--<script src='{% static 'js/simpleCart.min.js'%}'> </script>-->
<!-- Custom js -->
<script src='{% static 'js/bootstrap.min.js'%}'></script>
<script src='{% static 'js/custom.js'%}'></script>
<!-- React scripts -->
<script src='{% static 'js/react.js'%}'></script>
<script src='{% static 'js/react-dom.js'%}'></script>
<script src='{% static 'js/babel.min.js'%}'></script>
<script>
$(document).ready(function(){
  setInterval(function(){

    var csrftoken = getCookie('csrftoken');
    $.post('/cartvalue',{csrfmiddlewaretoken: csrftoken},function(data){
      //console.log(data)
      $("#cartNumber").text(data);
    });
  }, 500);
});
</script>
<!-- slide -->
<script src='{% static 'js/responsiveslides.min.js'%}'></script>
   <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
  <script src='{% static 'js/imagezoom.js'%}'></script>
  <!-- FlexSlider -->
  <script defer src='{% static 'js/jquery.flexslider.js'%}'></script>
  <link rel="stylesheet" href='{% static 'css/flexslider.css'%}' type="text/css" media="screen" />

  <script>
  // Can also be used with $(document).ready()
  $(window).load(function() {
  $('.flexslider').flexslider({
     animation: "slide",
     controlNav: "thumbnails"
  });
  });
  </script>
  <!-- Custom css -->
  <link href='{% static 'css/custom.css'%}' rel="stylesheet" type="text/css" />
</head>
<body>
<!--header-->
<div class="header">
	<div class="header-top">
		<div class="container">
		<div class="col-sm-4 world">

      <p class="upper-left-text"> Shop with us<br>Delivered instantly<br>pay on delivery</p>
				</div>
				<div class="col-sm-4 logo">
				<!--	<a href="index.html"><img src='{% static 'images/logo.png'%}' alt=""></a>-->
             <h2><i class="header-name">Bukenya</i> <br> <b class="base-name">Shoppers</b></h2>
				</div>

			<div class="col-sm-4 header-left">
					<div class="cart box_1">
						<a href="/checkout">
						  <h3>
                 <div class="total">
                   {% block cart %}
							         <span id="cartNumber" class="simpleCart_total badge"></span>
                   {% endblock %}
                 </div>
							   <img src='{% static 'images/cart.png'%}' alt=""/>
                 <span>Cart</span>
               </h3>
						 </a>
					</div>
					<div class="clearfix"> </div>
			</div>
				<div class="clearfix"> </div>
		</div>
		</div>
    {% block navbar %}
		<div class="container">
			<div class="head-top">
				<div class="col-sm-2 number">
					<span><i class="glyphicon glyphicon-phone"></i>+250 785 596 234</span>
				</div>
		 <div class="col-sm-8 h_menu4">
				<ul class="memenu skyblue">
					  <li class=" grid"><a  href="/">Home</a></li>
				      <li><a  href="#">Category</a>
				      	<div class="mepanel">
						<div class="row">
							<div class="col-md-12">
								<div class="h_nav category">
									<!--<h5 class="category-title">All Categories</h5>-->
									<ul class="categories">
                    <li><a href="/">All</a></li>
                    {% for category in categories %}
										   <li><a href="/category/{{category.id}}">{{category}}</a></li>
                    {% endfor %}
									</ul>
								</div>
							</div>
						  </div>
						</div>
					</li>
				<li><a  href="/how-to-buy">How to Buy</a></li>
				<li><a class="color6" href="/contact">Contact Us</a></li>
			  </ul>
			</div>
				<div class="col-sm-2 search">
			<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i> </a>
		</div>
		<div class="clearfix"> </div>
			<!---pop-up-box---->
					<link href='{% static 'css/popuo-box.css'%}' rel="stylesheet" type="text/css" media="all"/>
					<script src='{% static 'js/jquery.magnific-popup.js'%}' type="text/javascript"></script>
					<!---//pop-up-box---->
				<div id="small-dialog" class="mfp-hide">
				<div class="search-top">
						<div class="login">
              <form method="get" action="/search">
							    <input type="text" value="Type something..." name="search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                  <input type="submit" value="">
              </form>
						</div>
						<p>	Shopping</p>
					</div>
				</div>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});

						});
				</script>
	<!---->
		</div>
	</div>
  {% endblock %}
</div>
{% block main %}
<!--
<script  src='{% static 'js/modernizr.custom.min.js'%}' type="text/javascript"></script>
-->
<!--banner-->
<div class="banner">
	<div class="col-sm-3 banner-mat">
		<img class="img-responsive"	src='{% static 'images/banner-pic1.jpg'%}' alt="">
	</div>
	<div class="col-sm-6 matter-banner">
	 	<div class="slider">
	    	<div class="callbacks_container">
	      		<ul class="rslides" id="slider">
	        		<li>
	          			<img class="header-slides" src={{leftpic.url}} alt="">
	       			 </li>
			 		 <li>
	          			<img class="header-slides" src={{midpic.url}} alt="">
	       			 </li>
					 <li>
	          			<img class="header-slides" src={{rightpic.url}} alt="">
	        		</li>
	      		</ul>
	 	 	</div>
		</div>
	</div>
	<div class="col-sm-3 banner-mat">
		<img class="img-responsive" src='{% static 'images/banner-pic2.jpg'%}' alt="">
	</div>
	<div class="clearfix"> </div>
</div>
<!--//banner-->
<!--content-->
<div class="content">
	<div class="container">
		<div class="content-top">
			<h1>Recent Products</h1>
			<div class="content-top1">

        {% if length == 0 %}
           <h3 class="checkout-total">{{message}} {{name}}</h3>
        {% else %}
          <h3 class="checkout-total">{{message}} {{name}}</h3>
        {% endif %}
        {% for product in products %}
            <div class="col-md-3 col-md2 product">
             <div class="col-md1 simpleCart_shelfItem">
               <a class="anchor" href="/product/{{product.id}}">
                 <img class="img-responsive product-image" src={{product.title_image.url}} alt="" />
               </a>
               <h3><a href="/product/{{product.id}}">{{product.product_name}}</a></h3>
               <div class="price">
                   <h5 class="item_price"><b>USh {{product.price}}</b></h5>
                   <a class="item_add anchor" data-value={{product.id}}>Buy</a>
                   <div class="clearfix"> </div>
               </div>
             </div>
       </div>
        {% endfor %}
			</div>
      </div>
      <div class="col-lg-12 col-md-12 text-center">
        <div class="pagination">
         <span class="step-links">
             {% if products.has_previous %}
                 <a href="?page={{ products.previous_page_number }}"> Previous </a>
             {% endif %}

             <span class="current">
               {% if pages >= 2 %}
                 {{ products.number }} / {{ products.paginator.num_pages }}
                {% endif %}
             </span>

             {% if products.has_next %}
                 <a href="?page={{ products.next_page_number }}"> Next </a>
             {% endif %}
         </span>
        </div>
      </div>
	</div>
</div>
<!--//content-->
{% endblock %}
<!-- Alert Modal -->
<div class="modal fade" id="alertModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <h4 class="modal-title text-center">Bukenya Shoppers</h4>
      </div>
      <div class="modal-body">
        <p class="alert-message"></p>
      </div>
      <div class="modal-footer">
        <a href="/checkout" class="btn btn-1 btn-success btn-alert-ok">Checkout</a>
        <button type="button" class="btn btn-1 btn-success btn-alert-ok" data-dismiss="modal" >Continue Shopping</button>
      </div>
    </div>

  </div>
</div>
<!-- End of alert modal -->
<!--footer-->
<div class="footer">
	<div class="container">
		<!--<div class="footer-top">
			<div class="col-md-8 top-footer">

				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83998.91163207516!2d2.3470599!3d48.85885894999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sRwanda%2C+Kigali!5e0!3m2!1sen!2sin!4v1436340519910" allowfullscreen=""></iframe>

      </div>
      <div class="col-md-4 top-footer1">
				<h2>Newsletter</h2>
					<form>
						<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
						<input type="submit" value="SUBSCRIBE">
					</form>
			</div>
			<div class="clearfix"> </div>
		</div>-->
	</div>
	<div class="footer-bottom">
		<div class="container">
				<div class="col-sm-4 footer-bottom-cate">
					<h6>Categories</h6>
					<ul>
            {% for category in categories %}
						<li><a href="#">{{category}}</a></li>
            {% endfor %}
					</ul>
				</div>
				<div class="col-sm-4 footer-bottom-cate">
					<h6>Top Brands</h6>
					<ul>
						<li><a href="#">Addidas</a></li>
            <li><a href="#">Polo</a></li>
            <li><a href="#">Yeezy</a></li>
            <li><a href="#">Lacoste</a></li>

					</ul>
				</div>
				<div class="col-sm-4 footer-bottom-cate cate-bottom">
					<h6>Our Address</h6>
					<ul>
						<li>Jinja Road. </li>
						<li> Plot 234</li>
						<li>Bismark Building</li>
						<li>Room 345</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
				<p class="footer-class"> © 2017 Bukenya Shoppers. All Rights Reserved | Design by <a href="#" target="_blank">Campus250 Ltd</a> </p>
			</div>
	</div>
</div>
<!--//footer-->
</body>
</html>
