{% extends 'admin.html' %}
{% block main %}
<div class="admin">
 <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info sale-requests">
        <div class="panel-heading">
             <h3 class="panel-title text-center">Sale Requests</h3>
        </div>
        <div class="panel-body">
          <table >
               <tr>
                   <th>Names</th>
                   <th>Product</th>
                   <th class="text-center">Quantity</th>
                   <th class="sales-hide">Time</th>
                   <th>Phone</th>
                   <th class="sales-hide">Email</th>
                   <th class="sales-hide">Address</th>
                   <th> Sold </th>
               </tr>
               {% for sale in sales %}
                   <tr>
                       <td class="">{{sale.first_name}} {{sale.second_name}}</td>
                       <td class="">{{sale.product.product_name}}</td>
                       <td class="text-center">{{sale.quantity}}</td>
                       <td class="sales-hide">{{sale.time}}</td>
                       <td class="">{{sale.phone_number}}</td>
                       <td class="sales-hide">{{sale.email}}</td>
                       <td class="sales-hide">{{sale.address}}</td>
                       <td><a href="/sold/{{sale.id}}"><span class="glyphicon glyphicon-ok"></span></a></td>
                   </tr>
               {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
{% endblock %}
