{% extends 'index.html' %}
{% load static %}
{% block cart %}
{% endblock %}
{% block main %}
<div class="container">
	<div class="check-out">
		<p class="success-message">Thanks {{customername}} <br>for purchasing
        with <b class="header-name">Bukenya Shoppers</b><br>
        We will reach you soon by phone or by email<br>
        Check your email to comfirm if your order has been placed
    </p>
    </div>
</div>
{% endblock %}
