/*custom css*/

i.header-name {
    color: #000;
    font-size: 2em;
    font-family: 'OleoScript-Regular';
    text-align: center;
    margin: 0 0 1em;
}

p.upper-left-text {
    color: #B5B3B3;
}
.contact-bottom input[type="text"] {
    color: #131111;
}
.product-image {
    height: 170px;
    width: 100%;
    margin-bottom: 5px;
}
.price h5 {
    font-size: 16px;
}
.product {
    margin-bottom: 1.5em;
}
.memenu>li>.mepanel {
  width: 50%;
  left: 15.7%;
}
.category{
  width: 80%;
  margin: auto;
}
.category-title {
    margin: auto;
    width: 50%;
}
/*
.product:nth-child(5n) {
    clear: both;
}*/
.related-product-image {
    height: 162px;
    margin-bottom: 5px;
}
.related-product-title {
    width: 20%;
    margin: auto;
    margin-bottom: 0.5em;
}
.share {
    margin-top: 17px;
    margin-left: 93px;
    width: 50%;
}
.social {
    margin-top: 0.5em;
}
.unrelated-product-image {
    height: 80px;
    width: 100%;
}
.item_add {
    color: #fff;
    border: none;
    margin-left: 40px;
}
.ring-in {
    width: 30%;
}
.check {
    width: 11%;
}
td.checkout-price {
    width: 15%;
}
td.checkout-subtotal {
    width: 15%;
}
h3.checkout-total {
    font-size: 1.2em;
    font-family: 'OleoScript-Regular';
    text-align: center;
}
.checkout-remove {
    padding-left: 30px;
}
a.delete-cart {
    padding: 0.3em 0.7em;
    color: #FFF;
    background: #b1252c;
    margin: 0.5em 0 0;
    font-size: 1em;
    display: inline-block;
    line-height: 1.6em;
    text-align: center;
    text-decoration: none;
}
a.item_add {
    cursor: pointer;
}
a.cart.item_add_single {
    cursor: pointer;
}
.flexslider > ol > li >img {
    width: 100%;
    height: 110px;
}
.slide-img {
    width: 100%;
    height: 266px;
}
.order {
    padding: 4em 0em;
}
h1.order-title {
    color: #000;
    font-size: 3em;
    font-family: 'OleoScript-Regular';
    margin: 0 0px 1em;
    text-align: center;
}
input.order-submit {
    background: #52D0C4;
    color: #fff;
    border: none;
    outline: none;
    /* margin: auto; */
    padding: 0.3em 1em;
    font-size: 1.2em;
    display: inline-block;
}
input.form-control.quantity-value {
    width: 20%;
}
img.header-slides {
    width: 100%;
    height: 326px;
}
.form-fields {
    margin-top: 1.2em;
}
ul.nav.nav-pills.memenu.skyblue {
    margin: 0;
}
.admin {
    margin-top: 1em;
}
.panel.panel-info.all-products-panel {
    max-height: 728px;
    overflow: auto;
}
span.checkout-add.glyphicon.glyphicon-plus {
    cursor: pointer;
}
p.steps {
    /* display: block; */
    font-size: 1.3em;
    color: #000;
    font-family: 'OleoScript-Regular';
}
p.step-details {
    font-size: 1.2em;
    color: #B2B2B2;
    line-height: 1.8em;
    font-family: serif;
    font-weight: bold;
    margin-bottom: 10px;
}
.how-to {
    width: 70%;
    margin: auto;
}
p.step-details-header {
    font-size: 1.2em;
    color: #B2B2B2;
    line-height: 1.5em;
    font-family: serif;
    font-weight: bold;
    width: 70%;
    margin: auto;
    margin-bottom: 15px;
}
p.success-message {
    width: 50%;
    margin: auto;
    font-size: 25px;
    text-align: center;
    font-family: 'OleoScript-Regular';
}
a.anchor > img {
    position: relative;
    z-index: 999;
}
a.anchor{
    position: relative;
    z-index: 1;
}
div#alertModal {
    z-index: 9999;
}
.panel.panel-info.sale-requests {
    max-height: 730px;
    overflow: auto;
}
.contact-bottom input[type="email"] {
    width: 100%;
    padding: 0.7em;
    border: 1px solid #bbb;
    -webkit-appearance: none;
    outline: none;
    color: #fff;
    outline-color: #52D0C4;
    background: none;
}
.contact-bottom input[type="number"] {
    width: 100%;
    padding: 0.7em;
    border: 1px solid #bbb;
    -webkit-appearance: none;
    outline: none;
    color: #fff;
    outline-color: #52D0C4;
    background: none;
}
.contact-form input[type="button"] {
    background: #52D0C4;
    color: #fff;
    border: none;
    outline: none;
    margin: 1em 15px 0;
    padding: 0.3em 1em;
    font-size: 1.2em;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
@media (max-width: 992px){
.sales-hide {
    display: none;
 }
}
ul.nav.nav-pills.memenu.skyblue.admin-navbar {
    margin-top: 10px;
    margin-left: 20%;
    width: 65%;
}
h2.panel-title {
    font-size: 3em;
    color: #000;
    font-family: 'OleoScript-Regular';
    text-align: center;
}
a.btn.btn-lg.btn-info.user {
    margin-left: 83px;
    margin-top: 5px;
    background: #52d0c4;
    float: left;
}
.checkbox{
  display: none;
}
label.control-label {
    margin-bottom: 15px;
}
.col-md1.simpleCart_shelfItem > h3 {
    margin-top: 10px;
}
