{% extends 'index.html' %}
{% block main %}
<!-- faqs -->
	<div class="about-w3 ">
	<!--work-experience-->
	<div  class="work">
		<div class="container">
			<div class="spec spec-w3ls">
				<h3>About Us</h3>
					<div class="ser-t">
						<b></b>
						<span><i></i></span>
						<b class="line"></b>
					</div>
			</div>
			<div class="work-info">
				<div class="col-md-4 about-right">
			 <!--<img class="img-responsive" src="images/ab.jpg" alt="">-->
			 </div>
			 <div class="col-md-4 about-left">
				 <p>Leasing Market is a company aiming to provide solutions to the market of smart phones in Rwanda by
				  facilitating phone users to pay in installements.<br>
					After realising that people are not in immediate possession of money to pay for the smart phones
					they want we came up with a solution to allow the clients to pay in 3 months installements.</p>
			 </div>
			 <div class="col-md-4 about-right">
			 <!--<img class="img-responsive" src="images/ab1.jpg" alt="">-->
			 </div>

			 <div class="clearfix"> </div>
		</div>
	</div>
</div>
	<!--//work-experience-->
<!--advantages-->
<!--
<div class="container">
	<div class="advantages">
			<div class="col-md-6 advantages-left ">
				<h3>Our Advantages</h3>
				<div class="advn-one">
						<div class="ad-mian">
							<div class="ad-left">
								<p>1</p>
							</div>
							<div class="ad-right">
								<h4><a href="single.html">Elacus a porta varius dui</a></h4>
								<p>In neque arcu, vulputate vitae dignissim id, placerat adipiscing lorem. Nulla consectetur adipiscing metus vel pulvinar. Aenean molestie mauris non diam tincidunt faucibus. </p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="ad-mian">
							<div class="ad-left">
								<p>2</p>
							</div>
							<div class="ad-right">
								<h4><a href="single.html">Elacus a porta varius dui</a></h4>
								<p>In neque arcu, vulputate vitae dignissim id, placerat adipiscing lorem. Nulla consectetur adipiscing metus vel pulvinar. Aenean molestie mauris non diam tincidunt faucibus. </p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="ad-mian">
							<div class="ad-left">
								<p>3</p>
							</div>
							<div class="ad-right">
								<h4><a href="single.html">Elacus a porta varius dui</a></h4>
								<p>In neque arcu, vulputate vitae dignissim id, placerat adipiscing lorem. Nulla consectetur adipiscing metus vel pulvinar. Aenean molestie mauris non diam tincidunt faucibus. </p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
			</div>
			<div class="col-md-6 advantages-left about-agi">
				<h3>Our Skills</h3>
			<div class="advn-two">
						<h4><a href="single.html"> eu tincidunt lacinia, elit quam ultri ces ipsum, quis ultricies ipsum ante</a></h4>
						<p>Donec sagittis interdum tellus sed bibendum. Aen ean fringilla ut lacus eu vehicula. Curabitur non nibh quis nisi vestibulum aliquet non sed dolor. Ut est risus, consectetur sit amet pretium in, cursus in dui. Donec ac rhoncus libero.</p>
						<ul>
							<li><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Praesent vestibulum molestie lacus</a></li>
							<li><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Donec sagittis interdum tellus</a></li>
							<li><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Nulla consectetur adipiscing</a></li>
							<li><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Donec ac rhoncus libero.</a></li>
							<li><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Erci eu tincidunt lacinia</a></li>
						</ul>
			</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>-->
	<!--advantages-->

	</div>
	<!-- // Terms of use -->
{% endblock %}
