{% extends 'index.html' %}
{% block main %}
<!--content-->
<div class="work">
	<div class="container">
				<div class="spec spec-w3ls">
					<h3>How To Order</h3>
						<div class="ser-t">
							<b></b>
							<span><i></i></span>
							<b class="line"></b>
						</div>
				</div>
				<div class="work-info">
					<div class="col-md-6 work-left">
						<div class=" work-w3 ">
							<h5> Step 1</h5>
							<p>Reach out to leasingmarket.rw, browse in our store to find a smart of your choice  </p>
						</div>
						<label></label>
					</div>
					<div class="col-md-6 work-right">
						<div class=" work-w31">
							<h5> Step 1</h5>
							<p>Click on the Smart Phone of your choice</p>
						</div>
						<label></label>
					</div>
					<div class="clearfix"> </div>
					<span> Step 1</span>
				</div>
				<div class="work-info">
					<div class="col-md-6 work-left">
						<div class=" work-w3 ">
							<h5> Step 2</h5>
							<p>Click add to cart to or Order now</p>
						</div>
						<label></label>
					</div>
					<div class="col-md-6 work-right">
						<div class=" work-w31">
							<h5> Step 2</h5>
							<p>After Landing on the checkout page, you easily modify your cart by changing the quantity,Removing item from the cart then Click Order Now button </p>
						</div>
						<label></label>
					</div>
					<div class="clearfix"> </div>
					<span> Step 2</span>
				</div>
				<div class="work-info">
					<div class="col-md-6 work-left">
						<div class=" work-w3 ">
							<h5> Step 3</h5>
							<p>Ater Landing on the Order Page you can choose either to call us directly or Fill the form and let us contact you as soon as possible</p>
						</div>
						<label></label>
					</div>
					<div class="col-md-6 work-right">
						<div class=" work-w31">
							<h5> Step 3</h5>
							<p>You can pay in 3 month installements or pay directly</p>
						</div>
						<!--<label></label>-->
					</div>
					<div class="clearfix"> </div>
					<span> Step 3</span>
					<span class="last"> Thanks </span>
				</div>
	</div>
</div>
<!--//content-->
{% endblock %}
